<table bgcolor="#0f6080">
  <tbody bgcolor="#efffff">
    <tr><th colspan="7" bgcolor="#0f6080"><font color="#efffff">SHOUYU</font></th></tr>

    <tr><td rowspan="2" width="5"><img src="./image/34.gif" width="64" height="64"></td><td>武力</td><th>12</th><td>知力</td><th>32</th><td>統率力</td><th>98</th></tr>
    <tr><td>金</td><th>641606</th><td>米</td><th>553337</th><td>貢献</td><th>30</th></tr>
    <tr><td>所属国</td><th colspan="2">嗚呼パンツ祭りよ永遠に国</th><td>兵士</td><th>1</th><td>訓練</td><th>100</th></tr>
  </tbody>
</table>