<table border="0" width="100%" height="100%"><tbody><tr><td align="center">
    <table border="0" width="100%">
        <tbody><tr><th bgcolor="414141">
            <font color="ffffff"> - 戦 争 - </font>
        </th></tr>

        <tr><td>

          <%= render 'shared/user' %>

        </td></tr>

        <tr><td>
            <tabel bgcolor="#AA0000"></tabel></td></tr><tr><td bgcolor="#000000">
            <font color="white">他国へ侵略をします。<br>隣接する都市へのみ攻撃が可能です。<br>勝利するとその都市を奪えます。<br>敗北した場合は自国へ戻されます。戦争を仕掛ける場合兵士数の<font color="red">２倍の米</font>が必要です。[<a href="http://zizii.vv.cx/map.cgi" target="_blank">勢力図</a>]</font>
        </td></tr></tbody></table>
</td></tr>
<tr><td>

    <form action="/conscription/update" method="POST">
    </form>

        <table bgcolor="#884422" width="100%" border="0">
            <tbody>
              <tr>
                <td bgcolor="#F0F0F0" width="40%">

                  <br>平原から戦争可能な街<br><br><input type="radio" name="kouzyou" value="0"><font color="red">未選択</font><br><input type="radio" name="kouzyou" value="5"><font color="red">流言流布を使用する</font><br>
                  攻撃都市の民忠を減少させることができます。対人戦のみ発動。金５００が余計にかかります。<br><br><input type="submit" value="攻め込む">  <%= button_to "戻る", home_index_url, {method: :get} %>
                </td>
              </tr>
            </tbody>
        </table>

        <%= render 'shared/map' %>

        <hr size="0">
        <center><font color="998877">CGI配布サイト 三国志NET Ver2.8 <a href="http://www3.to/maccyu2/" target="_top">maccyu</a><br><font color="998877">伝説の三国志NET　管理者：<a href="http://densetu.sakura.ne.jp/manual.html#15" target="_blank">伝説じじい</a> 副管理者：FS 史記更新：さやか<br>
            <a href="./index.cgi" target="_top">HOME</a>
            <a href="http://densetusaba.sblo.jp/" target="_blank">_</a>
        </font></font></center></td></tr></tbody></table>